@model IEnumerable<Toolshed.Models.ToolshedUser>

@{
    Layout = "~/Views/Shared/_ToolshedLayout.cshtml";
}
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.UserName</td>
            @if (item.RealUser == null)
            {
                <td>Not Connected</td>
                <td>Nope</td>
            }
            else
            {
                <td>@item.RealUser.Email</td>
                <td>
                    @item.RealUser.Id
                </td>
            }
        </tr>
    }
</table>
<div ng-controller="Controller">
    <button ng-click="deleteUsers()">Delete all Users!</button>
</div>
